# ルート
**/.DS_Store
**/__pycache__/
**/*.py[cod]
**/venv/

# frontend
/frontend/node_modules/
/frontend/package-lock.json
/frontend/dist/
/frontend/.env
/frontend/.vite/

# backend
/backend/__pycache__/
/backend/*.pyc
/backend/.env
/backend/*.db

/node_modules/