.emojiFeedback {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 5;
}

.emojiContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #274c77;
  border-radius: 50%;
  box-shadow: 0 8px 15px 3px #274c7799;
  transition: all 0.2s ease-in-out;
}

.emojiContainer.selectedMode {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.emojiContainer.selectedMode .emojiButton {
  position: static !important;
  top: auto !important;
  left: auto !important;
}

.emojiContainer:hover {
  width: 110px;
  height: 38px;
  border-radius: 24px;
}

.emojiContainer.selectedMode:hover {
  width: 110px;
  height: 38px;
  border-radius: 24px;
}

.emojiButton {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.emojiButton:hover {
  transform: scale(1.05);
}

.emojiContainer:hover .emojiButton {
  position: static;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.emojiContainer.selectedMode:hover .emojiButton {
  position: static;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.emojiContainer.selectedMode:hover .emojiButton[data-color="green"] {
  position: absolute;
  top: -3px;
  left: 5px;
}

.emojiContainer.selectedMode:hover .emojiButton[data-color="yellow"] {
  position: absolute;
  top: 8px;
  left: -4px;
}

.emojiContainer.selectedMode:hover .emojiButton[data-color="red"] {
  position: absolute;
  top: 11px;
  left: 9px;
}

.emojiButton.selected {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 2px white;
}

.emojiButton[data-color="green"] {
  position: absolute;
  top: -3px;
  left: 5px;
  color: #70b02c;
  z-index: 10;
}

.emojiButton[data-color="yellow"] {
  position: absolute;
  top: 8px;
  left: -4px;
  color: #ffc84a;
  z-index: 9;
}

.emojiButton[data-color="red"] {
  position: absolute;
  top: 11px;
  left: 9px;
  color: #ff441f;
  z-index: 8;
}

.emojiButton[data-color="green"]:hover {
  background-color: rgba(34, 197, 94, 0.2);
}

.emojiButton[data-color="yellow"]:hover {
  background-color: rgba(234, 179, 8, 0.2);
}

.emojiButton[data-color="red"]:hover {
  background-color: rgba(239, 68, 68, 0.2);
}

.emojiIcon {
  font-size: 16px;
  line-height: 1;
}
